<h1><%= @book.title %></h1>

<form action="/<%= @book.id %>/edit_book" method="post">
  <input type="hidden" name="_method" value="patch">
  <label>Edit Title</label>
  <input type="text" name="title">
  <button type="submit">Update</button>
</form>
<hr>
<form action="/<%= @book.id %>/edit_book" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Remove Book</button>
</form>

<hr>
<a href="/">Home</a> | <a href="/librarian">Librarian Portal</a>
