<h1>Library</h1>

<% if @books.any? %>
  <ul>
    <% @books.each do |book| %>
    <li><%= book.title %>, <%= book.author %></li>
    <% end %>
  </ul>
<% else %>
  <em>your library is empty</em>
<% end %>

<hr>

<form action="/add_book" method="post">
  <label>Title</label>
  <input type="text" name="title">
  <label>Author</label>
  <input type="text" name="author">
  <label>Genre</label>
  <input type="text" name="genre">
  <button type="submit">Add book</button>
</form>
