<h1>Members</h1>

<p>Create an account:</p>
<form action="/add_patron" method="post">
  <label>Name</label>
  <input type="text" name="name">
  <button type="submit">Sign in</button>
</form>

<hr>

<a href="/patron_list">I'm a returning member</a>
